:root{
    --bg:#f0eeee;
    --login_bg:rgba(255,255,255,0.5);
    --active:rgb(var(--arcoblue-6));
    
}
body{
    --bg:#f0eeee;
    --login_bg:rgba(255,255,255,0.5);
    --active:rgb(var(--arcoblue-6));
    --charts_color1:#d97559;
    --charts_color2:#e4c477;
    --charts_color3:#eb4d4b;
    --nav_text_color:rgb(245, 245, 245);
    --containter_width:1400px;
    --heightColor:color: rgb(236, 120, 120);
}
body[arco-theme="dark"]{
    --bg:#302e2e;
    --active:rgb(var(--arcoblue-6));
    --login_bg:rgba(0,0,0,0.5);
    --charts_color1:#d97559;
    --charts_color2:#e4c477;
    --charts_color3:#eb4d4b;
    --containter_width: 1400px;

}